* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

figure {
  max-width: 1000px;
  margin: 0 auto;
}

video {
  width: 100%;
}

.controls {
  text-align: center;
}

button {
  padding: 4px 1rem;
}


.bar {
  width: 100%;
  margin-bottom: 20px;
}

progress {
  width: 100%;
}
